@model IEnumerable<WebApplication1.Models.Attendance>

<table class="table">
    <thead>
        <tr>
            <th>Employee Name</th>
            <th>Check In Time</th>
            <th>Check Out Time</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Employee.FirstName @item.Employee.LastName</td>
                <td>@item.CheckInTime</td>
                <td>@item.CheckOutTime</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
